*,
*::before,
*::after {
  box-sizing: border-box;
}

/* WRAPPER */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  background: rgb(222, 184, 0);
}

.container-logo-nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 220px;
  height: 73px;
}

a {
  text-decoration: none;
}

.menu__box > li,
.nav-link {
  color: rgb(0, 0, 0);
  display: inline;
  margin-right: 3px;
  font-size: 20px;
}

li > .nav-link:hover {
  color: rgb(255, 255, 255);
}

#menu__toggle {
  opacity: 0;
  display: none;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* MAIN */
.main {
  display: flex;
  text-align: center;
  flex-grow: 1;
}

.block-center {
  order: 2;
  padding: 20px 10px 0;
}

.block-center > h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.flex-boxs {
  margin: 30px 30px 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  border: 2px rgb(128, 128, 128) solid;
  border-radius: 20px;
  max-width: 285px;
  min-height: 350px;
  width: calc(33.33% - 20px);
  padding: 15px 15px 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.box:hover {
  transform: scale(1.1);
  background: rgb(16, 157, 251);
  color: rgb(255, 255, 255);
  box-shadow: 3px 5px 5px black;
}

.img-box {
  height: 100px;
  border: 10px rgb(208, 187, 187) solid;
  border-radius: 100%;
}

.box > h1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}

.box > p {
  padding: 20px 0 20px;
  flex-grow: 1;
}

.box > a {
  border: 1px rgb(112, 80, 118) solid;
  border-radius: 20px;
  background: rgb(112, 80, 118);
  width: 70px;
  height: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  padding-top: 3px;
  transition: all 0.5s;
}

.box > a:hover {
  color: rgb(255, 255, 0);
  transform: scale(1.4);
  background: rgb(0, 128, 0);
  border: 1px rgb(0, 128, 0) solid;
  width: 70px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.aside-left {
  background: rgb(215, 153, 187);
  min-width: 210px;
  order: 1;
  padding-top: 10px;
}

.aside-right {
  background: rgb(148, 178, 201);
  min-width: 210px;
  order: 3;
  padding-top: 10px;
}

/* Уровень 3 */
.holder {
  border: 2px black solid;
  border-radius: 15px 15px 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  order: 10;
  padding: 10px;
}

.item:first-child {
  background: #fd644d;
  border-radius: 15px 0 0 0;
  flex-basis: 50%;
  order: 1;
}

.item:nth-child(2) {
  background: #4983b2;
  order: 4;
}

.item:nth-child(3) {
  background: #663797;
  order: 3;
}

.item:nth-child(4) {
  background: #0e7f12;
  order: 5;
}

.item:last-child {
  background: #fda429;
  border-radius: 0 15px 0 0;
  flex-basis: 50%;
  order: 2;
}

/* FOOTER */
.footer {
  background: rgb(11, 236, 128);
  text-align: center;
  padding: 7px 0;
}

/* HOMEWORK 6 */
@media (max-width: 1023px) {
  .aside-left {
    min-width: 19%;
  }
  .aside-right {
    min-width: 19%;
  }

  .flex-boxs {
    margin: 10px -5px;
  }
  .logo {
    width: 180px;
    height: 60px;
  }
  .img-box {
    height: 60px;
    border: 5px rgb(208, 187, 187) solid;
  }

  .box > h1 {
    font-size: 17px;
  }
  .box > p {
    font-size: 14px;
    padding-top: 10px;
  }
  .box > a {
    width: 60px;
    font-size: 15px;
    padding-top: 6px;
  }
}

@media (max-width: 767px) {
  .box {
    width: calc(50% - 20px);
  }
  .flex-boxs {
    margin: 10px -5px;
  }
  .logo {
    width: 150px;
    height: 50px;
  }
  .box > h1 {
    font-size: 17px;
  }
  .box > p {
    font-size: 15px;
  }
  .box > a {
    width: 70px;
    font-size: 17px;
    padding-top: 5px;
  }
  .container-logo-nav {
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #94b2c9;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
  }

  .nav-link {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .nav-link:hover {
    background-color: black;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: transform 0.2s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: transform 0.5s;
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: transform 0.5s;
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.5s;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 479px) {
  .box {
    width: 100%;
  }
  .flex-boxs {
    margin: 10px 5px;
  }

  .logo {
    width: 130px;
    height: 43px;
  }

  .box > h1 {
    font-size: 17px;
  }
  .box > p {
    font-size: 15px;
  }

  .box > a {
    width: 70px;
    font-size: 17px;
    padding-top: 5px;
  }
  .menu__btn{
    top: 15px;
  }
}
